<launch>
    <!-- General configuration -->
    <arg name="ip_address" default="192.168.5.15" />
    <arg name="netmask" default="255.255.255.0" />
    <arg name="gateway" default="0.0.0.0" />
    <arg name="dhcp" default="false" />

    <!-- Pointcloud configuration -->
    <arg name="pointcloud_color" default="0" />
    <arg name="pointcloud_color_range_minimum" default="0" />
    <arg name="pointcloud_color_range_maximum" default="400000" />
    <arg name="distance_range_minimum" default="0" />
    <arg name="distance_range_maximum" default="400000" />

    <!-- Polarimetric configuration -->
    <arg name="polarimetric_camera_brightness" default="127" />
    <arg name="polarimetric_camera_black_level" default="6.0" />
    <arg name="polarimetric_camera_auto_gain" default="true" />
    <arg name="polarimetric_camera_auto_gain_range_minimum" default="0.0" />
    <arg name="polarimetric_camera_auto_gain_range_maximum" default="48.0" />
    <arg name="polarimetric_camera_gain" default="24.0" />
    <arg name="polarimetric_camera_auto_exposure_time" default="true" />
    <arg name="polarimetric_camera_auto_exposure_time_range_minimum" default="33.456" />
    <arg name="polarimetric_camera_auto_exposure_time_range_maximum" default="1000000.0" />
    <arg name="polarimetric_camera_exposure_time" default="500000.0" />

    <!-- RGB configuration -->
    <arg name="rgb_camera_brightness" default="0" />
    <arg name="rgb_camera_contrast" default="10" />
    <arg name="rgb_camera_saturation" default="16" />
    <arg name="rgb_camera_sharpness" default="16" />
    <arg name="rgb_camera_gamma" default="220" />
    <arg name="rgb_camera_gain" default="0" />
    <arg name="rgb_camera_auto_white_balance" default="true" />
    <arg name="rgb_camera_white_balance" default="5000" />
    <arg name="rgb_camera_auto_exposure_time" default="true" />
    <arg name="rgb_camera_exposure_time" default="156" />

    <!-- Thermal configuration -->
    <arg name="thermal_camera_colormap" default="1" />
    <arg name="thermal_camera_temperature_filter" default="false" />
    <arg name="thermal_camera_temperature_filter_min" default="0" />
    <arg name="thermal_camera_temperature_filter_max" default="50" />


    <!-- Start the driver -->
    <node pkg="l3cam_ros" type="l3cam_ros_node" name="l3cam_ros_node" output="screen">
        <param name="ip_address" value="$(arg ip_address)" type="str" />
        <param name="netmask" value="$(arg netmask)" type="str" />
        <param name="gateway" value="$(arg gateway)" type="str" />
        <param name="dhcp" value="$(arg dhcp)" type="bool" />

        <param name="pointcloud_color" value="$(arg pointcloud_color)" type="int" />
        <param name="pointcloud_color_range_minimum" value="$(arg pointcloud_color_range_minimum)" type="int" />
        <param name="pointcloud_color_range_maximum" value="$(arg pointcloud_color_range_maximum)" type="int" />
        <param name="distance_range_minimum" value="$(arg distance_range_minimum)" type="int" />
        <param name="distance_range_maximum" value="$(arg distance_range_maximum)" type="int" />

        <param name="polarimetric_camera_brightness" value="$(arg polarimetric_camera_brightness)" type="int" />
        <param name="polarimetric_camera_black_level" value="$(arg polarimetric_camera_black_level)" type="double" />
        <param name="polarimetric_camera_auto_gain" value="$(arg polarimetric_camera_auto_gain)" type="bool" />
        <param name="polarimetric_camera_auto_gain_range_minimum" value="$(arg polarimetric_camera_auto_gain_range_minimum)" type="float" />
        <param name="polarimetric_camera_auto_gain_range_maximum" value="$(arg polarimetric_camera_auto_gain_range_maximum)" type="float" />
        <param name="polarimetric_camera_gain" value="$(arg polarimetric_camera_gain)" type="float" />
        <param name="polarimetric_camera_auto_exposure_time" value="$(arg polarimetric_camera_auto_exposure_time)" type="bool" />
        <param name="polarimetric_camera_auto_exposure_time_range_minimum" value="$(arg polarimetric_camera_auto_exposure_time_range_minimum)" type="float" />
        <param name="polarimetric_camera_auto_exposure_time_range_maximum" value="$(arg polarimetric_camera_auto_exposure_time_range_maximum)" type="float" />
        <param name="polarimetric_camera_exposure_time" value="$(arg polarimetric_camera_exposure_time)" type="float" />

        <param name="rgb_camera_brightness" value="$(arg rgb_camera_brightness)" type="int" />
        <param name="rgb_camera_contrast" value="$(arg rgb_camera_contrast)" type="int" />
        <param name="rgb_camera_saturation" value="$(arg rgb_camera_saturation)" type="int" />
        <param name="rgb_camera_sharpness" value="$(arg rgb_camera_sharpness)" type="int" />
        <param name="rgb_camera_gamma" value="$(arg rgb_camera_gamma)" type="int" />
        <param name="rgb_camera_gain" value="$(arg rgb_camera_gain)" type="int" />
        <param name="rgb_camera_auto_white_balance" value="$(arg rgb_camera_auto_white_balance)" type="bool" />
        <param name="rgb_camera_white_balance" value="$(arg rgb_camera_white_balance)" type="int" />
        <param name="rgb_camera_auto_exposure_time" value="$(arg rgb_camera_auto_exposure_time)" type="bool" />
        <param name="rgb_camera_exposure_time" value="$(arg rgb_camera_exposure_time)" type="int" />

        <param name="thermal_camera_colormap" value="$(arg thermal_camera_colormap)" type="int" />
        <param name="thermal_camera_temperature_filter" value="$(arg thermal_camera_temperature_filter)" type="bool" />
        <param name="thermal_camera_temperature_filter_min" value="$(arg thermal_camera_temperature_filter_min)" type="int" />
        <param name="thermal_camera_temperature_filter_max" value="$(arg thermal_camera_temperature_filter_max)" type="int" />
    </node>

    <!-- Start streaming the avaliable sensors. -->
    <include file="$(find l3cam_ros)/launch/stream_l3cam.launch" />

    <!-- Start dyanmic reconfigure -->
    <include file="$(find l3cam_ros)/launch/configure_l3cam.launch">
        <arg name="ip_address" value="$(arg ip_address)" />
        <arg name="netmask" value="$(arg netmask)" />
        <arg name="gateway" value="$(arg gateway)" />
        <arg name="dhcp" value="$(arg dhcp)" />

        <arg name="pointcloud_color" value="$(arg pointcloud_color)" />
        <arg name="pointcloud_color_range_minimum" value="$(arg pointcloud_color_range_minimum)" />
        <arg name="pointcloud_color_range_maximum" value="$(arg pointcloud_color_range_maximum)" />
        <arg name="distance_range_minimum" value="$(arg distance_range_minimum)" />
        <arg name="distance_range_maximum" value="$(arg distance_range_maximum)" />

        <arg name="polarimetric_camera_brightness" value="$(arg polarimetric_camera_brightness)" />
        <arg name="polarimetric_camera_black_level" value="$(arg polarimetric_camera_black_level)" />
        <arg name="polarimetric_camera_auto_gain" value="$(arg polarimetric_camera_auto_gain)" />
        <arg name="polarimetric_camera_auto_gain_range_minimum" value="$(arg polarimetric_camera_auto_gain_range_minimum)" />
        <arg name="polarimetric_camera_auto_gain_range_maximum" value="$(arg polarimetric_camera_auto_gain_range_maximum)" />
        <arg name="polarimetric_camera_gain" value="$(arg polarimetric_camera_gain)" />
        <arg name="polarimetric_camera_auto_exposure_time" value="$(arg polarimetric_camera_auto_exposure_time)" />
        <arg name="polarimetric_camera_auto_exposure_time_range_minimum" value="$(arg polarimetric_camera_auto_exposure_time_range_minimum)" />
        <arg name="polarimetric_camera_auto_exposure_time_range_maximum" value="$(arg polarimetric_camera_auto_exposure_time_range_maximum)" />
        <arg name="polarimetric_camera_exposure_time" value="$(arg polarimetric_camera_exposure_time)" />

        <arg name="rgb_camera_brightness" value="$(arg rgb_camera_brightness)" />
        <arg name="rgb_camera_contrast" value="$(arg rgb_camera_contrast)" />
        <arg name="rgb_camera_saturation" value="$(arg rgb_camera_saturation)" />
        <arg name="rgb_camera_sharpness" value="$(arg rgb_camera_sharpness)" />
        <arg name="rgb_camera_gamma" value="$(arg rgb_camera_gamma)" />
        <arg name="rgb_camera_gain" value="$(arg rgb_camera_gain)" />
        <arg name="rgb_camera_auto_white_balance" value="$(arg rgb_camera_auto_white_balance)" />
        <arg name="rgb_camera_white_balance" value="$(arg rgb_camera_white_balance)" />
        <arg name="rgb_camera_auto_exposure_time" value="$(arg rgb_camera_auto_exposure_time)" />
        <arg name="rgb_camera_exposure_time" value="$(arg rgb_camera_exposure_time)" />

        <arg name="thermal_camera_colormap" value="$(arg thermal_camera_colormap)" />
        <arg name="thermal_camera_temperature_filter" value="$(arg thermal_camera_temperature_filter)" />
        <arg name="thermal_camera_temperature_filter_min" value="$(arg thermal_camera_temperature_filter_min)" />
        <arg name="thermal_camera_temperature_filter_max" value="$(arg thermal_camera_temperature_filter_max)" />
    </include>

    <!-- The nodes that don't have their sensor avaliable will automatically shut down -->
</launch>